{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Moussaka !{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if app.user %}
        <h1 class="text-3xl font-bold underline">Bienvenue à {{ username }} !</h1>
        <div class="mb-3">
            {{ app.user.displayName }}, <a href="{{ path('app_logout') }}">logout</a>
        </div>
    {% else %}
        <h1 class="text-3xl font-bold underline">Bienvenue sur Moussaka !</h1>
        <div class="mb-3">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><a href="{{ path('app_login') }}">Se connecter</a></button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><a href="{{ path('app_register') }}">Créer un compte</a></button>
        </div>
    {% endif %}
    <div class="flex flex-row">
        <div class="basis-1/4">
            <h2>Playlists</h2>
        </div>
        <div class="basis-3/4">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\SongController::index')) }}
        </div>
        <div class="basis-3/4">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\AlbumController::index')) }}
        </div>
        <div class="basis-3/4">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\PlaylistController::index')) }}
        </div>
    </div>

</div>
{% endblock %}
